:root {
    --clr-secondary-200: #ffffff;
    --clr-secondary-400: #e6ceeb;
    --clr-secondary-900: #b49db9;

    --clr-primary-200: #4f498d;
    --clr-primary-400: #20215f;
    --clr-primary-900: #000035;

    --clr-neutral-400: #e5e3e3;
    --clr-neutral-200: #ededed;

    --clr-text-on-primary: #fff;
    --clr-text-on-secondary: #000;
    --clr-text-neutral: #2b2b2b;

    --text-regular-400: 1rem;
    --text-regular-600: 1.32rem;
    --text-regular-900: 1.8rem;

}

html {
    font-family: 'Golos Text', sans-serif;
    font-size: var(--text-regular-400);
}

body {
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation-header {
    float: left;
    display: block;
    background-color: var(--clr-primary-400);
    height: 56px;
}

.navigation-list {
    display: block;
    text-decoration: none;
}

.navigation-item {
    text-align: center;
    text-decoration: none;
    padding: 14px;
    color: var(--clr-text-on-primary);
}

.bg-color-neutral-200 {
    background-color: var(--clr-neutral-200);
}

.footer {
    text-decoration: none;
    height: 80px;
    color: var(--clr-text-on-secondary);
}

.container {
    --max-width: 1110px;
    --padding: 1rem;

    width: min(var(--max-width), 100% - (var(--padding) * 2));
    margin-inline: auto;
}


.img-panorama {
    padding-top: 56px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.primary-header {
    font-size: var(--text-regular-900);
}

.secondary-header {
    font-size: var(--text-regular-600);
}